@font-face {
	font-family: 'Noto Sans';
	src: url('https://mach-politik.ch/font/notosans-regular-webfont.eot');
	src: url('https://mach-politik.ch/font/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('https://mach-politik.ch/font/notosans-regular-webfont.woff2') format('woff2'),
	     url('https://mach-politik.ch/font/notosans-regular-webfont.woff') format('woff'),
	     url('https://mach-politik.ch/font/notosans-regular-webfont.ttf') format('truetype'),
	     url('https://mach-politik.ch/font/notosans-regular-webfont.svg#noto_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, h1, h2, h3, h4 {
	font-family: "Noto Sans", sans !important;
}

h1::first-letter {
	text-transform: none !important;
}

.redmine-logo {
	height: 150px !important;
	width: 150px !important;
	background-image: url('../images/signet-B-2farbig.svg') !important;
	background-size: 150px auto !important;
	background-color: #FFF;
	border-radius: 100%;
}

.jstElements button,
#issue_is_private_wrap {
	float: left;
}

.jstElements .jstb_help {
	float: right;
}

.jstb_code,
.jstb_del,
.jstb_h2,
.jstb_h3,
.jstb_bq,
.jstb_unbq,
.jstb_pre,
.jstb_link,
.jstb_img,
.splitcontentright {
	display: none;
}

#content {
	background-color: rgba(110, 196, 233, 0.6) !important;
}

a:link {
	color: rgb(40, 141, 193) !important;
}

a:visited {
	color: rgb(0, 73, 135) !important;
}

a:hover, a:active, a:focus {
	color: rgb(255, 76, 0) !important;
}

body, #footer, #content h1, h2, h3, h4, #header h1 {
	rgb(60, 60, 60) !important;
}
